@font-face {
  src: url("Font/Technology.ttf"),
  url("Font/technology-webfont.woff"),
  url("Font/technology-webfont.woff2");
  font-family: "Technology";
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body > * {border-radius: 1rem;}

body
{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background: linear-gradient(145deg, #8c8e9a, #767882);
  /*these are for different browsers
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;*/
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 70vw auto; 
  grid-template-rows: 1.2fr 4.5fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 0;
}

nav {
  background-color: #26262A;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


nav ul li {
  font-family: 'Technology', 'Share Tech Mono',monospace;
  color: lightgreen;
  list-style: none;
  font-size: 2rem;
}

.board
{
  background-color: #6A6C75;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
}

.card
{
  overflow: hidden;
  position: relative;
  background: #838590;
  transform:scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 15px 15px 29px #56585f, 
              inset -15px -15px 29px #b0b2c1;
}


.controls-1 {
  grid-row: 2/3;
  grid-column: 1/2;
  position: relative;
  display: flex;
  justify-content: center;
}

svg {
  stroke: #54555B;
  fill: #54555B; 
}

.equalizer {
  position: absolute;
  align-self: flex-end;
  width: 60%;
  padding-bottom: 2rem;
  margin-right: 1rem;
}

.reset {
  position: absolute;
  align-self: flex-start;
  width: 45%;
  padding-top: 2rem;
  transform:scale(1);
  transition: transform .5s;
  fill: #26262A;
  stroke: #26262A;
}

.controls-2 {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  position: relative;
}

.vol-drawing {
  width: 50%;
  position: absolute; 
  align-self: flex-end;
  padding-bottom: 2rem;
}

.vol-controls {
  width: 60%;
  position: absolute;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  background: #26262A;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: lightgreen;
}

.slider::-moz-range-thumb {
  background-color: lightgreen;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
}

label {
  font-size: 1rem;
  padding-bottom: .5rem;
  font-family: monospace;
}

footer {
  background-color: #6A6C75;
  grid-row: 3/4;
  grid-column: 2/3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc {
  position: absolute;
  width: 90%;
  height: 80%;
}

.card:hover,
.reset:hover,
[type="range"]:hover {
  cursor: pointer;
}

.card:active,
.reset:active
{
  transform: scale(.92);
  transition: transform .3s;
}

.reset:active {
  fill: lightgreen;
  stroke: lightgreen;
}

.card.flip
{
  transform: rotateY(180deg);
}

.back-face,
.front-face
{
  width: 100%;  
  position: absolute;
  padding: 1rem;
}

.front-face
{
  transform: rotateY(180deg);
  z-index:11;
}

.d-none {
  display:none;
}

.d-block {
  display:block;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /*top y left arriba se refieren al VP pero en el translate 
    de abajo se refiere a sí mismo*/
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid;
    z-index: 10;
    background-color: #26262A;
    width: 600px;
    max-width: 80%;
    color: white;
    max-height: 80vh;
    overflow: scroll;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid;
}

.title {
    font-family: 'Technology', 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    padding: 10px 15px;
    text-align: center;
}

.modal-header .close-button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 10px 25px;
    font-size: 1.2rem;
    text-align: center;
    font-family: monospace, sans-serif;
    line-height: 1.5rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    /*lo que hace esto de abajo es que mientras esto sea invisible no capture click events*/
    pointer-events: none;
    transition: 200ms ease-in-out;

}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.ok-button {
  background-color: lightgreen;
  color: #26262A;
  height: 2rem;
  width: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-family: 'Technology', 'Share Tech Mono', monospace;
  font-size: 1.25rem;
  cursor: pointer;
}

.modal-body > span {
  color: lightgreen;
}

@media screen and (orientation: portrait) {
  body::after {
    content: "Turn your device to play";
    width: 100vw;
    height: 100vh;
    color: lightgreen;
    font-family: 'Technology', 'Share Tech Mono', sans-serif;
    font-size: 3rem;
    overflow: hidden;
    text-align: center; 
    margin-top: 20vh;
    background-color: linear-gradient(145deg, #8c8e9a, #767882); 
    padding: 1rem;
  }

  nav,
  section, 
  footer,
  .board,
  svg,
  .vol-controls,
  .controls-1,
  .controls-2,
  #modal,
  #overlay
  {
    display: none;
  }

  svg {
    display: none;
  }
}

@media  (max-width: 812px) {
  body,
  .board {
    grid-gap: .5em; 
  }

  body {
    grid-template-rows: 1fr 5fr 1fr;
  }

  nav ul li {
    font-size: 1rem;
  }

  .back-face,
  .front-face {
    padding: 0.5em;
  }

  nav {
    margin-top: .5rem;
  }

  .equalizer {
    margin-right: .5rem;
  } 
}

@media (min-width: 813px) and (max-width: 1023px) {
  body {
    grid-gap: .5em;
    height: 100vh;
    grid-template-columns: 1fr 70vw 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }

  .board {
    grid-gap: .5em;
  }

  .back-face,
  .front-face {
    padding: 0.5em;
  }
} 