* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body > * {border-radius: 8px;}

body
{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background: linear-gradient(145deg, #8c8e9a, #767882);
  /*these are for different browsers
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;*/
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 70vw auto; 
  grid-template-rows: 1.2fr 4.5fr 1fr;
  grid-gap: 2em;
}
nav {
  background-color: #26262A;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

nav ul li {
  font-family: 'Technology', monospace;
  color: lightgreen;
  list-style: none;
  font-size: 2rem;
}

.board
{
  background-color: #6A6C75;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
}

.card
{
  overflow: hidden;
  position: relative;
  background: #838590;
  transform:scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 15px 15px 29px #56585f, 
              inset -15px -15px 29px #b0b2c1;
}

footer {
  background-color: #6A6C75;
  grid-row: 3/4;
  grid-column: 2/3;
}

.card:active
{
  transform: scale(.92);
  transition: transform .3s;
}

.card.flip
{
  transform: rotateY(180deg);
}

.back-face,
.front-face
{
  width: 100%;  
  position: absolute;
  padding: 20px;
}

.front-face
{
  transform: rotateY(180deg);
 /*  Added z index */
  z-index:11;
}
.d-none {
  display:none;
}
.d-block {
  display:block;
}
